.onboardingImage {
    background-image: url('/images/onboarding.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    position: relative;
}

.onboardingImage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--app-primary);
    opacity: 0.9;
}